body {
  background-image: url("https://images.pexels.com/photos/1187079/pexels-photo-1187079.jpeg?cs=srgb&dl=pexels-artem-saranin-1187079.jpg&fm=jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: beige;
}

.weather {
  font-family: arial, sans-serif;
  border: 1px solid rgb(218, 220, 224);
  border-radius: 5px;
  color: chartreuse;
  padding: 17px;
}

.weather h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin: 15px 0 0 0;
}
.weather li {
  list-style: none;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

.weather ul {
  margin: 0;
  padding: 0;
}
.weather img {
  vertical-align: top;
  width: 64px;
}
.weather strong {
  color: chartreuse;
  display: inline;

  font-size: 44px;
  font-weight: 400;
}
.weather a {
  text-decoration: none;
  color: chartreuse;
}
.weather a:hover {
  color: white;
}
.weather .units {
  color: white;
  font-weight: 400;
  font-size: 16px;
  position: relative;
  top: -23px;
  line-height: 1;
}
